*{
    transition: 1s;
}
body{
    margin: 0;
}
.un{
    height: 100vh;
    background: cyan;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.deux{
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
background: chartreuse;
}
.trois{
    height: 100vh;
    background: deeppink;
}
